doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- load(src='/javascripts/cheerioscrape.js')
    //- script(src='../node_modules/clientside-require/dist/bundle.js')
  body
    block content
